@model IEnumerable<wedding_planer_ad.Models.ApplicationUser>

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Wedding planner Dashboard";
}

<h2>Vendors</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model)
        {
            <tr>
                <td>@vendor.Email</td>
                <td>@vendor.FirstName</td>
                <td>@vendor.LastName</td>
                <td>@vendor.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
